<!--Para toda vez que inserir um novo cliente aparecer-->

<tr id="cliente-{{cliente.id}}">
    <th scope="row">{{cliente.id}}</th>
    <td>{{cliente.nome}}</td>
    <td>{{cliente.email}}</td>
    <td><button type="button" class="btn btn-primary" c-get = "{{ url_for('cliente.form_editar_clientes', cliente_id = cliente.id) }}" c-target = "#form-cliente">Editar</button></td>
    <td><button type="button" class="btn btn-danger" c-delete="{{ url_for('cliente.deletar_clientes', cliente_id = cliente.id) }}" c-remove-closest="tr">Deletar</button></td>
</tr>