

      <table class="table table-striped table-bordered">
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Editar</th>
            <th scope="col">Deletar</th>
          </tr>
        </thead>
        <tbody id="Lista_cliente">
            {% for cliente in clientes   %}

               {%include 'item_cliente.html'%}

            {% endfor %}
        </tbody>
      </table>


